@layer utilities {
	.text-heading {
		font-size: var(--text-heading);
		line-height: 120%;
		font-weight: 500;
	}

	.text-heading-small {
		font-size: var(--text-heading-small);
		line-height: 120%;
		font-weight: 500;
	}

	.text-subtitle-large {
		font-size: var(--text-subtitle-large);
		line-height: 150%;
	}

	.text-subtitle {
		font-size: var(--text-subtitle);
		line-height: 150%;
	}

	.text-subtitle-semibold {
		font-size: var(--text-subtitle);
		font-weight: 600;
		line-height: 150%;
	}

	.text-subtitle-large-semibold {
		font-size: var(--text-subtitle-large);
		font-weight: 600;
		line-height: 150%;
	}

	.text-paragraph-large {
		font-size: var(--text-paragraph-large);
		line-height: 150%;
	}

	.text-paragraph-large-semibold {
		font-size: var(--text-paragraph-large);
		font-weight: 600;
		line-height: 150%;
	}

	.text-paragraph {
		font-size: var(--text-paragraph);
		line-height: 150%;
	}

	.text-paragraph-semibold {
		font-size: var(--text-paragraph);
		font-weight: 600;
		line-height: 150%;
	}

	.text-paragraph-small {
		font-size: var(--text-paragraph-small);
		line-height: 150%;
	}

	.text-paragraph-small-semibold {
		font-size: var(--text-paragraph-small);
		font-weight: 600;
		line-height: 150%;
	}

	.label {
		font-size: var(--text-label);
		line-height: 150%;
	}

	.bg-gradient-main {
		background-image: var(--background-gradiente);
	}
}