@theme {
    /* Colors */
    --color-verde-destaque: #81fe88;
    --color-verde-pastel: #bfffc3;
    --color-verde-petroleo: #132e35;
    --color-grafite: #00090e;
    --color-cinza-escuro: #171d1f;
    --color-cinza: #3e3e3f;
    --color-cinza-medio: #888888;
    --color-cinza-claro: #bcbcbc;
    --color-offwhite: #e1e1e1;
    --color-branco: #ffffff;

    --background-gradiente: linear-gradient(
        to right,
        #0e1112,
        var(--color-grafite)
    );

    /* Text sizes */
    --text-heading: 2.75rem;
    --text-heading-small: 2.31rem;
    --text-subtitle: 1.62rem;
    --text-subtitle-large: 1.94rem;
    --text-paragraph-small: 0.94rem;
    --text-paragraph: 1.12rem;
    --text-paragraph-large: 1.38rem;
    --text-label: 0.78rem;
}
